<html>
<!-- checkout.html -->

<title>Check Out A Book</title>
<link rel="stylesheet" type="text/css" href="/static/header_styles.css">


<div class="header">

    <div class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/checkout">Checkout</a></li>
        <li><a href="/checkin">Return</a></li>
        <li><a href="/admin">Tools</a></li>
    </ul>
    </div>

      <div class="logo"><a href="/">
      <img src="/static/images/byulogo.png" sizes="(max-width: 709px) 85vw, (max-width: 909px) 81vw, (max-width: 1362px) 88vw, 1200px" width="405" height="30" style="margin-top:8px;margin-left:5px;" alt="Mathematics Department">
      </a></div>

</div>

<div class="bod">
  <h2>Enter the following information</h2>
  <form method="POST">
    <table>
      <tr><td><label>Name:</label> 
	  <td><input type="text" name="name">
      <tr><td><label>ID Number: (9 digit)</label>
	  <td><input type="text" name="ID">
      <tr><td><label>Math Class: (eg. Math 112) </label>
	  <td><input type="text" name="classname">
      <tr><td><label>Title:</label>
          <td><input type="text" name="book">
      <tr><td><label>Email:</label>
          <td><input type="text" name="email"> 
    </table>
    <br/>
    <input type="submit" value="Check Out Book">
  </form>
  <br/><a href="/">[Home]</a>
</div>

<div class="footer">
BYU Department of Mathematics 2017
</div>

</html>
