<html>
<title>Email Options</title>
<link rel="stylesheet" type="text/css" href="/static/header_styles.css">

<div class="header">

    <div class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/checkout">Checkout</a></li>
        <li><a href="/checkin">Return</a></li>
        <li><a href="/admin">Tools</a></li>
    </ul>
    </div>

      <div class="logo"><a href="/">
      <img src="/static/images/byulogo.png" sizes="(max-width: 709px) 85vw, (max-width: 909px) 81vw, (max-width: 1362px) 88vw, 1200px" width="405" height="30" style="margin-top:8px;margin-left:5px;" alt="Mathematics Department">
      </a></div>

</div>


<div class="bod">
<h3>Email Options</h3>
      <a href="/emailstudent">[Email a Student]</a> <br>
      <a href="/emailclass">[Email by Class]</a> <br>
      <a href="/emaildate">[Email by Date Checked Out]</a> <br>

      <br/><a href="/admin">[Back to Tools]</a>
</div>

<div class="footer">
BYU Department of Mathematics 2017
</div>

</html>
