<html>
<!-- email_student.html -->

<title>Email A Student</title>
<link rel="stylesheet" type="text/css" href="/static/header_styles.css">

<div class="header">

    <div class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/checkout">Checkout</a></li>
        <li><a href="/checkin">Return</a></li>
        <li><a href="/admin">Tools</a></li>
    </ul>
    </div>

      <div class="logo"><a href="/">
      <img src="/static/images/byulogo.png" sizes="(max-width: 709px) 85vw, (max-width: 909px) 81vw, (max-width: 1362px) 88vw, 1200px" width="405" height="30" style="margin-top:8px;margin-left:5px;" alt="Mathematics Department">
      </a></div>

</div>

<div class="bod">
  <h3>Email A Student</h3>
 
  <p>Enter a date above. After confirming that what you have entered is
    correct, click send on the next page to gererate an email from
    <strong>books@mathematics.byu.edu</strong>. 

  <p>The email will contail the following:</p>

  <em><p>Dear [Name],</p>

  <p>You have the following textbooks checked out from the BYU Mathematics Department:</p>
  [Book 1]<br/>
  [Book 2]<br/>
  [Etc...]
  <p> Textbooks need to be renewed or returned at the end of each semester. Renew or return your textbook with Lonette Stoddard in TMCB 276. Failure to renew or return may result in charges to your student account.</p>

  <p>Thank you!</p> </em>

  <p>Enter A Student ID Number</p>
  <form method="POST">
    <label>ID Number: </label> <input type=text name="id">
    <input type="submit">
  </form>
  <br/>

</div>

<div class="footer">
BYU Department of Mathematics 2017
</div>

</html>
