$def with (status)
<html>
<!-- email_class_send.html -->

<title>Email By Class</title>
<link rel="stylesheet" type="text/css" href="/static/header_styles.css">

<div class="header">

    <div class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/checkout">Checkout</a></li>
        <li><a href="/checkin">Return</a></li>
        <li><a href="/admin">Tools</a></li>
    </ul>
    </div>

      <div class="logo"><a href="/">
      <img src="/static/images/byulogo.png" sizes="(max-width: 709px) 85vw, (max-width: 909px) 81vw, (max-width: 1362px) 88vw, 1200px" width="405" height="30" style="margin-top:8px;margin-left:5px;" alt="Mathematics Department">
      </a></div>

</div>

<div class="bod">
$if status:
    
    <h3>Emails sent successfully</h3>
    Can you hear the sound of pounding feet? It's the sound of all the students coming to bring back their books.<br/><br/>
    <a href="/email">[Back to Email]</a>

$else:
    <h3>No email addresses found</h3>
    It seems like nobody checked out books before that date. (You may have entered an invalid date.)<br/><br/>
    <a href="/emaildate">[Try Again]</a>

</div>
    
<div class="footer">
BYU Department of Mathematics 2017
</div>

</html>
