$def with (name,email,books,status,id)
<html>
<title>Books Out</title>

<link rel="stylesheet" type="text/css" href="/static/header_styles.css">

<div class="header">

    <div class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/checkout">Checkout</a></li>
        <li><a href="/checkin">Return</a></li>
        <li><a href="/admin">Tools</a></li>
    </ul>
    </div>

      <div class="logo"><a href="/">
      <img src="/static/images/byulogo.png" sizes="(max-width: 709px) 85vw, (max-width: 909px) 81vw, (max-width: 1362px) 88vw, 1200px" width="405" height="30" style="margin-top:8px;margin-left:5px;" alt="Mathematics Department">
      </a></div>

</div>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>

$if status:
    <div class="bod">
    <h3>Books Out for $name</h3>
    <table>
        <tr>
            <th>Class</th>
            <th>Book</th>
	    </tr>
    $for i in books:
            <tr>
                <td>$i[0]</td>
		<td>$i[1]</td>
            </tr>
    </table>

    </br>The student or professor's  email is $email.</br>
    If you would like to remove the above books from the database, click remove below.</br></br>
    <form method="POST">
        <input type="submit" value="Remove">
	<input type="hidden" name="id" value="$id">
    </form>
    <br/><a href="/remove_links">[Back to Remove Books]</a>

    </div>

$else:
    <div class="bod">
    <h3>No Books Found</h3>
    The selected student (Id number: $id) does not have books checked out. Please try again.
    <br/><br/>
    <a href="/remove_links">[Back to Remove Books]</a>
    </div>


<div class="footer">
BYU Department of Mathematics 2017
</div>

</html>


