<html>
<!-- welcome.html -->

<title>BYU MathBooks</title>
<link rel="stylesheet" type="text/css" href="/static/header_styles.css">


<div class="header">

    <div class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/checkout">Checkout</a></li>
        <li><a href="/checkin">Return</a></li>
        <li><a href="/admin">Tools</a></li>
    </ul>
    </div>

      <div class="logo"><a href="/">
      <img src="/static/images/byulogo.png" sizes="(max-width: 709px) 85vw, (max-width: 909px) 81vw, (max-width: 1362px) 88vw, 1200px" width="405" height="30" style="margin-top:8px;margin-left:5px;" alt="Mathematics Department">
      </a></div>

</div>

<div class="bod">
    <h1>BYU MATHBOOKS</h1>  

    <p>Welcome to BYU Math's textbook checkout program. 
      Keep reading for a description of the application or explore the pages to figure it out yourself.</p> 

    <strong>Checkout and Returns</strong>
    <p>To checkout books, click on the checkout link in the upper right header menu. 
      Fill out the requested information and press submit. 
      It is extremely important to enter the <strong>correct ID</strong>. 
      The program searches through all students and professors by ID number and each ID number can only be associated with one name.
      Entering the wrong ID could make it very difficult to find the right entry in the database.</p>

    <p>If you accidently enter an <strong>invalid ID</strong> number or name, you will need to remove the entry and reenter it correctly.
      First, go to Tools and click on Table of Books.
      Use the table to find the entry with the miskeyed ID number.
      Copy this ID number and use the "Search and Remove Books" tool to remove the entry from the database.
      You will probably want to write down the title of the book, class and email adress before you delete the entry.
      Finally, use the information you wrote down to check out the book again with the correct name and ID.</p>

    <strong>Tools</strong>
    <p>The tools menu has several useful features. 
      The first link, Table of Books, will display every entry in the database. 
      The second link, Search and Remove books allows the user to search and remove books 
      The third link, Email Students/Professors allows the user to automatically generate emails to an individual or group.</p>

    <strong>Email</strong>
    <p>To generate emails to students select the "Email Students/Professors" option in the Tools menu. 
      You will be guided through the appropriate steps for sending out emails to groups of people.
      When sending large amounts of emails, the confirmation page may take a <strong>long time</strong> to load.
      Don't be alarmed. It takes a while to generate each email, connect with the server and send the message.
      Be patient and it should load eventually.</p>

    <strong>General</strong>
    <p>This program was designed to run off a Mac server but could be adapted to Windows. 
      It was written for deparment use with the head secretary in mind, but if ran on a server, the office secretaries could use it as well.
      Direct any question or issues to djpasseyjr@gmail.com.</p>
</div>

<div class="footer">
BYU Department of Mathematics 2017
</div>

</html>
